@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    height: 800px;
}

.movie-title {
    text-transform: uppercase;
}

.movie-poster-container img {
    margin-top: 2rem;
    height: 500px;
    border-radius: 15px;

    /* Animation */
    position: center;
    left: -50rem;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% { transform: translateY(5%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

/* Hover effect */
.movie-poster-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.5rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "•";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.movie-info-actions ul li a:hover {
    color: #ff6347;
    transform: scale(1.5);
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}