@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(70, 61, 61, 0.493);
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
}

.modal-content {
    background-color: blanchedalmond;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 700px; 
    text-align: center;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.movie-poster-modal {
    width: 350px;
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 3rem;
}

.movie-card {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    height: 800px;
}

.movie-title {
    text-transform: uppercase;
}

.movie-poster {
    margin-top: 2rem;
    height: 500px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect */
.movie-poster:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 8px -4px rgb(139, 133, 133);
}

.movie-poster-container {
    /* Animation */
    position: center;
    left: -50rem;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% { transform: translateY(5%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.5rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "•";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-overview {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeIn 1s;
}


.carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(98, 85, 68, 0.739);
    font-size: 2rem;
    color: #fff;
    margin: 0.5rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.movie-info-actions ul li a:hover {
    color: #ff6347;
    transform: scale(1.5);
}

footer {
    position: relative;
    margin-top: 20rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}